*{
  box-sizing: border-box;
  
}

.big-header{
    text-align: center;
    top: 250px;
    width: 100vw;
    height: 410px;
    position: absolute;
  }
.header-text{
  font-family: Lato;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.nav-header{
  top: 65px;
  position: relative;
  width: 100vw;
  height: 105px;
}

.navbarItem {
	display: flex;
	justify-content: flex-end;
	margin-right: 60px;
	font-family: : Lato;
	font-style : Regular;
	font-size: 18px;
	font-family: bold;
	line-height: : 22px;
	line-height: 100%;
	align-content: center;
	vertical-align: : top;
	color:#4F4F4F;
}

.logo-style{
	display: grid;
	justify-content: center;
	align-items: center;
}

#text{
	margin-left:70px;
}
.w3-button{
  background-color: #084482;
}
.topright{
  position:absolute;
  top:0px;
  right:30px;

}
a.w3-button{
  color: white;
  font-family: Lato;
  font-style: SemiBold;
  font-size:18px;
  line-height:22px;
  line-height: 100%;
  align-self: center;
  vertical-align: top;

}

main{
  margin-top: 100px;
}
a:hover{
  font-size: 20px;

}
table{
  color:#4F4F4F;
  opacity: 0.75;
  border-style: hidden;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
}
td{
  padding:10px 20px;
}
h3{
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin:90px 0;
}
h4{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color:#084482;
}

.footer{
  font-family: Lato;
	width: 100vw;
	height: 60vh;
	left: 0;
	right: 0;
	margin-bottom: 0;
	background-color: #001326;
}

.column-styling {
	float: right;
	width: 25%;
	display: block;
	font-family: Lato;
	font-style: Regular;
	font-size: 18px;
	line-height: 22px;
	line-height: 100%;
	align-items: flex-start;
	vertical-align: baseline;
	color: #FFFFFF;

}

.logo-style{
	display: grid;
	justify-content: center;
}

#logo-text{
	margin-left: 91px;
}

.textColor{
	color: #FFFFFF;
}

.icon-style{
	text-decoration: none;
}
