.small-header{
    top: 0px;
    width: 100%;
    height: 64px;
    left: 0px;
    background-image: url(../images/small-header.png);
    position: absolute;
}
.big-header{
    left: 0px;
    top: 186px;
    width: 1440px;
    height: 410px;
    position: absolute;
    background: url(../images/facility.jpg) no-repeat;
  }
.nav-header{
    top: 65px;
    position: relative;
    width: 100%;
    height: 105px;
}
.body{
    padding: 0px;
    margin: 0px;
    top:400px;
    position: relative;
    width: 100%;
    left:293px;
    height: 600px;
}

