
.footer{
	width: 1444px;
	height: 350px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #001326;
}

.column-styling {
	float: left;
	width: 25%;
	display: block;
	font-family: Lato;
	font-style: Regular;
	font-size: 18px;
	line-height: 22px;
	line-height: 100%;
	align-items: flex-start;
	vertical-align: baseline;
	color: #FFFFFF;
}

.logo-style{
	display: grid;
	justify-content: center;
  margin-right: 15px;
}

#logo-text{
	margin-left: 91px;
}

.textColor{
	color: #FFFFFF;
}

.icon-style{
	text-decoration: none;
}


@media only screen and (max-width: 77.5rem /* 1240px */) {
  .footer {
    justify-content: center;
    width: 500px;
    height: 700px;
  }
}